a {
  color: var(--app-primary-color);
  text-decoration: none;
  border: 1px solid var(--app-primary-color);
  border-radius: 4px;
}
a.-st-active {
  background-color: var(--app-surface-container-color);
}
.angular-logo {
  width: 250px;
  padding: 20px;
}
.content {
  width: 750px;
  margin: 0 auto;
  padding: 30px 30px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
a {
  padding: 5px;
  margin: 2px;
}
